
body, .result__snippet, .module__text {
	color: #DDD;
}

body, .header-wrap {
	background-color: #333;
}

a, .result__a, .highlight .result__a, .highlight .result__a:hover {
	color: #ADF;
}

.result__a:visited, .highlight .result__a:visited, a:visited {
	color: #FAF;
}

.result__url {
	color: #AFA;
}

.result__url:hover {
	color: #AFA;
}
