#noscript-warning, #notify-container, #js-gdpr-consent-banner {
	display: none;
}

.top-bar {
	margin-top: 0;
	background-color: #242729;
}

body, #question-header .question-hyperlink {
	color: #DDD;
}

body, #content, .top-bar .searchbar input[type="text"].f-input {
	background-color: #333;
}

pre, code {
	background-color: #222;
}

.question-status, blockquote {
	background-color: #122;
}
