body {
	color: #DDD;
	background-color: #333;
}

.button {
	border: solid #DDD 3px;
	padding: 3px;
	margin: auto;
	cursor: pointer;
	display: inline-block;
}
.button:hover {
	color: #FFA;
	border-color: #FFA;
}
